<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons  slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="onNewLocation()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      <ion-title>
        Locations
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-list>
  <ion-item *ngFor="let p of locations">
    <ion-label (click)="onDetailLocation(p)">{{p.title}}</ion-label>
    
        <ion-icon name="close" slot="end"  (click)="onRemove(p)"></ion-icon>
   
  </ion-item>
</ion-list>
</ion-content>
